@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);


body {
    margin: 0;
    padding: 0;
}

.top-home-main {
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.top-home-header {
    width: 100%;
    height: 14vh;
    position: relative;
}
.top-home-header:activescroll {
    position: fixed;
    background: #fff;
}
.nav-wrapper {
  display: flex;
    height: 70vh;
    flex-wrap: wrap;
    flex-direction: column;
}
.hamburger {
    width: 100%;
}
.nav-bar {
    flex-grow: 4;
}
.logo {
    background:  url("../img/wot-logo-whitex2.svg") center no-repeat;
    background-size: contain;
    height: 31px;
    width: 155px;
    position: relative;
    top: 4vh;
    display: inline-block;
    left: 4vh;
}
.menu-bar {
    background: url("../img/hamburger.png") center no-repeat;
    background-size: cover;
    width: 39.19px;
    height: 31px;
    position: relative;
    display: inline-block;
    float: right;
    top: 4vh;
    right: 1vh
}
.your-digital {
    flex-grow: 1;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: 'lato', sans-serif;
    display: block;
    padding: 0px;
}
.workshop {
    flex-grow: 1;
    text-align: center;
    font-size: 67.4px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
.building {
    flex-grow: 3;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.building-inner {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
.mini-box {
    background: #fff;
    height: 9px;
    width: 39px;
}
.right {
    margin-right: 8%;
}
.left {
    margin-left: 8%;
}
#solutions {
    color: #ff803a;
}
#ideas {
    color: #bdd537;
}
.learn-more {
    flex-grow: 8;
    text-align: center;
}
.learn-more button {
    font-family: 'Lato', sans-serif;
    color: #bdd537;
    font-size: 16px;
    border: 2px solid #bdd537;
    background: transparent;
    font-weight: 700;
    padding: 11px 85px;
    margin-top: 5vh;
    border-radius: 25px;
}
.learn-more button:hover {
    background: #bdd537;
    color: #fff;
}
@media (min-width: 500px) {
    .workshop {
        font-size: 90px;
    }
    .learn-more button {
        padding: 20px 150px;
    }
    .left {
        margin-left: 15%;
    }
    .right {
        margin-right: 15%;
    }
} 

@media (min-width: 700px) {
    .top-home-main {
    height: 80vh;
    }
    .workshop {
        font-size: 140px;
    }
    .learn-more button {
        padding: 20px 40px;
        position: relative;
        top: 40px;
    }
    .left {
        margin-left: 12%;
    }
    .right {
        margin-right: 12%;
    }
    .mini-box {
        width: 90px;
        height: 15px;
        position: relative;
        top: 4px;
    }
} 

/* after top-home-container; beggining of container-intro-text */

.container-intro-text {
    height: 120vh;
    width: 100%;
    background: #f0f0f0;
    color: #40666d;
    margin: 0px auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}
.intro-text {
    flex-grow: ;
    color: #40666d;
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    line-height: 38px;
    font-family: 'Lato', sans-serif;
}

.intro-text p strong {
    font-weight: 500;
}
.container-intro-inner-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrench-photo {
    background: url("../img/tool1.PNG") center no-repeat;
    background-size: contain;
    width: 75px;
    height: 75px;
    margin: auto;
}
.inner-container-text {
    font-size: 42px;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 550;
}
.works {
    color: #bdd537;
    font-weight: bold;
}

@media (min-width: 500px) {
    .container-intro-text {
        height: 100vh;
    }
}

@media (min-width: 600px) {
    .container-intro-text {
        height: 90vh;
    }
}
@media (min-width: 700px) {
    .container-intro-text {
        height: 60vh;
    }
}

/* next section with light bulb, arrow, and power. white background section*/

.container-services {
    height: 300vh;
    width: 100%;
    background: #fff;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}
.lightbulb {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.lightbulb-photo {
    flex-grow: 4;
    background: url("../img/tool2.png") center no-repeat;
    background-size: contain;
    height: 160px;
    width: 131px;
    margin: auto;
}
.services-text {    
    flex-grow: 4; 
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #AEBBC1;
    text-align: center
}
.services-learn {
    flex-grow: 2;
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: #bdd537;
    font-family: 'lato', sans-serif;
    font-weight: 500;
}
.mini-arrow {
    flex-grow: 1;
    background: url("../img/toolarrow.png") center no-repeat;
    background-size: contain;
    height: 30px;
    width: 27px;
    margin: auto;
}
.arrow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.arrow-photo {
    flex-grow: 4;
    background: url("../img/tool3.png") center no-repeat;
    height: 160px;
    width: 79px;
    margin: auto;
}
.power {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.power-photo {
    flex-grow: 4;
    background: url("../img/tool4.png") center no-repeat;
    background-size: contain;
    height: 160px;
    width: 94px;
    margin: auto;
}

@media (min-width: 700px) {
    .container-services {
        flex-direction: row;
        height: 60vh
    }
    .power {
        width: 33.3%;
    }
    .arrow {
        width: 33.3%;
    }
    .lightbulb {
        width: 33.3%
    }
}
.help-container {
    height: 176vh;
    width: 100%;
    background: #f0f0f0;
    padding: 40px 20px
}
.help-container h2 {
    text-align: center;
    font-family: 'lato', sans-serif;
    color: #40666d;
    font-size: 42px;
}
.help-container p {
    font-size: 18px;
    font-weight: 350;
    color: #858585;
}
.help-green {
    color: #bdd537;
    font-weight: 600;
}
.help-container {
    color: #40666d;
    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 23px;
}
.container-help-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
    margin-top: 30px
}
.help-inner {
    background: #fff;
    padding: 20px;
}
.help-container button {
      font-family: 'Lato', sans-serif;
    color: #bdd537;
    font-size: 16px;
    border: 2px solid #bdd537;
    background: transparent;
    font-weight: 700;
    padding: 11px 85px;
    margin-top: 5vh;
    border-radius: 25px;

}
.help-container button:hover {
    background: #bdd537;
    color: #fff;
}
@media (min-width: 700px) {
    .help-inner {
        width: 48%
    }
    .container-help-inner {
        height: 60vh;
        flex-wrap: wrap;
        justify-content: space-around
    }
    .help-container h2 {
        width: 50%;
        margin: auto;
    }
    .help-container h4 {
        width: 60%;
        margin: auto
    }
    .help-container {
        height: 114vh
    }
}
@media (min-width: 800px) {
    .container-help-inner {
        width: 60%;
        margin: auto;
        height: 70vh;
        justify-content: space-between;
    9
    .help-inner {
        width: 45%;
    }
    }
}
@media (min-width: 1000px) {
    .container-help-inner {
        width: 60%;
        margin: auto;
        height: 60vh;
        justify-content: space-around;
    }
    .help-inner {
        width: 45%;
    }
    .help-container {
        height: 95vh;
    }
}

/* New section here */
    
.green-section {
    background: #bdd537;
    color: #fff;
    height:
    width: 100%;
    padding: 20px 40px
}
.green-section h2 {
    font-size: 42px;
    text-align: center;
    font-family: 'lato',sans-serif;
}
.parent-logo {
    height: 170vh;
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.company-logos {
    width: 100%;
    flex-grow: 1;
    
}
.red-giant {
    background: url("../img/logos/1.png") center no-repeat;
    background-size: contain;
}
.taylor {
    background: url("../img/logos/5.png") center no-repeat;
    background-size: contain;
}
.smart-sound {
     background: url("../img/logos/8.png") center no-repeat;
     background-size: contain;
}

.tool-farm {
    background: url("../img/logos/2.png") center no-repeat;
     background-size: contain;
}
.heels {
    background: url("../img/logos/6.png") center no-repeat;
     background-size: contain;
}
.effects {
    background: url("../img/logos/9.png") center no-repeat;
     background-size: contain;
}
.diet-direct {
    background: url("../img/logos/3.png") center no-repeat;
     background-size: contain;
}
.sirona {
    background: url("../img/logos/7.png") center no-repeat;
     background-size: contain;
}
.fabulous {
    background: url("../img/logos/10.png") center no-repeat;
     background-size: contain;
}
@media (min-width: 500px) {
    .parent-logo {
        flex-wrap: wrap;
        height: 85vh;
    }
    .company-logos {
        width: 50%;
        height: 100px;
    }
}
@media (min-width: 800px) {
    .parent-logo {
        flex-wrap: wrap;
        flex-direction: row;
        height: 55vh;
    }
    .company-logos {
        width: 33%;
        height: 100px;
    }
}

